#how-works {
    background-color: $first-background-color;
    padding: $common-padding;
    text-align: center;
    color: $first-font-color;

    h2 {
        @include maxWidthMarginAuto(80%);
    }

    .cards {
        margin-top: $common-margin;

        .single-card {
            float: left;
            width: 33%;

            img {
                height: 100px;
                margin-bottom: 15px;
            }

            p {
                font-size: 18px;
                @include maxWidthMarginAuto(85%);
                line-height: 25px;
            }
        }
    }

    .alone-img {
        margin-top: $common-margin;

        img {
            width: 30%;
        }
    }

    hr {
        margin: $common-margin 0;
        border-color: $hr-color;
    }

    #down-how {
        h2 {
            margin-top: $common-margin;
        }
    }
}
