@mixin containerSize($width) {
    width: $width;
    margin: 0 auto;
}

@mixin maxWidthMarginAuto($maxWidth) {
    max-width: $maxWidth;
    margin: auto;
}

@mixin paddingAndColor($padding,$colorBackground) {
    padding: $padding 0;
    color: $colorBackground;
}

@mixin textBoxSpecs() {
    padding: $text-box-padding;
    background-color:$text-box-background-color;
    border: $text-box-border;
    border-radius: $text-box-border-radius;
}
