$first-background-color: #FFE7D2;
$common-padding: 75px;
$common-margin: 70px;

$first-font-color: #58402c;
$second-font-color: #30488F;
$hr-color: #bdb5af;
$font-size-head: 14px;

$margin-right-head: 35px;

$jumbo-margin-bottom: 35px;

$button-hover-background: rgb(35, 53, 105);
$learn-more-hover: #263972;
