* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.little-container {
  width: 50%;
  margin: 0 auto;
}

.large-container {
  width: 80%;
  margin: 0 auto;
}

.button {
  background-color: white;
  border: 1px solid #30488F;
  color: #30488F;
  padding: 8px 15px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.butt2 {
  background-color: #30488F;
  color: white;
}

.butt2:hover {
  cursor: pointer;
  background-color: #233569;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #30488F;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 70px;
}

h2 {
  letter-spacing: 2px;
  font-size: 26px;
}

#help {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #30488F;
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
}

#help img {
  height: 40px;
  display: inline-block;
}

#upper-header {
  height: 40px;
  background-color: #FFE7D2;
}

#upper-header p {
  color: #58402c;
  text-align: center;
  font-size: 13px;
  line-height: 40px;
}

#upper-header p span {
  color: #30488F;
  cursor: pointer;
}

#mid-header {
  border-bottom: 1px solid #58402c;
  padding-top: 20px;
  padding-bottom: 10px;
}

#mid-header .left {
  float: left;
  width: 60%;
}

#mid-header .left img {
  cursor: pointer;
}

#mid-header .right {
  float: right;
  width: 40%;
}

#mid-header .right #menu {
  float: left;
  font-size: 14px;
  color: #58402c;
  margin-left: 40px;
}

#mid-header .right #menu a {
  margin-right: 35px;
  font-weight: bold;
}

#mid-header .right #menu .button {
  font-weight: bold;
}

#mid-header .right #menu .button:hover {
  color: white;
  background-color: #30488F;
  cursor: pointer;
}

#jumbotron {
  padding-top: 130px;
  padding-bottom: 75px;
}

#jumbotron .jumbo.left,
#jumbotron .jumbo.right {
  float: left;
  width: 50%;
  color: #58402c;
}

#jumbotron .jumbo.left p {
  font-size: 22px;
  max-width: 80%;
  word-spacing: 3px;
}

#jumbotron .jumbo.left span {
  color: #bdb5af;
  margin: 0px 10px;
  font-size: 13px;
}

#jumbotron .jumbo.left a {
  display: block;
}

#jumbotron .jumbo.right img {
  width: 100%;
}

#jumbotron .jumbo.left > *:not(button) {
  margin-bottom: 35px;
}

#how-works {
  padding: 75px 0;
  color: #58402c;
  background-color: #FFE7D2;
  text-align: center;
}

#how-works h2 {
  max-width: 80%;
  margin: auto;
}

#how-works .cards {
  margin-top: 70px;
}

#how-works .cards .single-card {
  float: left;
  width: 33%;
}

#how-works .cards .single-card img {
  height: 100px;
  margin-bottom: 15px;
}

#how-works .cards .single-card p {
  font-size: 18px;
  max-width: 85%;
  margin: auto;
  line-height: 25px;
}

#how-works .alone-img {
  margin-top: 70px;
}

#how-works .alone-img img {
  width: 30%;
}

#how-works hr {
  margin: 70px 0;
  border-color: #bdb5af;
}

#how-works #down-how h2 {
  margin-top: 70px;
}

#more-info {
  padding: 75px 0 0;
  color: #58402c;
}

#more-info .info.right {
  float: right;
}

#more-info .info {
  float: left;
  width: 50%;
}

#more-info .img-info img {
  width: 100%;
}

#more-info .text-info {
  max-width: 27%;
  margin: auto;
  line-height: 35px;
  font-size: 22px;
}

#more-info .text-info p {
  margin: 15px 0;
}

#more-info .text-info a {
  color: #30488F;
}

#more-info .text-info a:hover {
  color: #263972;
}

#more-info .text-info img {
  width: 70%;
  margin: 70px;
}

#more-info .text-info.left {
  margin-left: 30px;
}

#more-info .text-info.right {
  margin-right: 30px;
}

#get-started {
  padding: 75px 0;
  color: #58402c;
  background-color: #FFE7D2;
}

#get-started h3 {
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  max-width: 50%;
  margin: auto;
}

#get-started #text-box {
  padding: 20px 40px;
  background-color: #FFFFFF;
  border: 1px solid #bdb5af;
  border-radius: 3px;
  max-width: 65%;
  margin: auto;
  margin-top: 70px;
  position: relative;
}

#get-started #text-box p {
  word-spacing: 5px;
}

#get-started #text-box #founders {
  margin-top: 20px;
}

#get-started #text-box #founders #founders-img {
  position: relative;
}

#get-started #text-box #founders #founders-img img {
  width: 7%;
  margin-right: 10px;
}

#get-started #text-box #founders #founders-names {
  position: absolute;
  left: 20%;
  top: 10%;
}

#get-started #text-box #founders #founders-names .blue {
  color: #30488F;
  font-size: 14px;
}

#get-started #text-box #founders #founders-names p {
  font-size: 12px;
}

#get-started #text-box:after {
  content: "";
  background: url("https://teambit.io/wp-content/themes/teambeat/img/landing/quote.svg");
  width: 37px;
  height: 39px;
  position: absolute;
  top: -23px;
  left: -1px;
}

#get-started .sign-up {
  text-align: center;
  margin-top: 30px;
}

#get-started .sign-up span {
  color: #bdb5af;
  margin: 0px 10px;
  font-size: 13px;
}

#get-started .sign-up a {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

footer {
  padding: 75px 0;
  color: #58402c;
}

footer .footer {
  float: left;
}

footer .footer.left {
  width: 35%;
}

footer .footer.left img {
  display: inline-block;
  width: 14%;
  vertical-align: super;
  margin-right: 10px;
}

footer .footer.left p {
  display: inline-block;
  max-width: 70%;
  margin: auto;
  word-spacing: 3px;
  font-weight: bold;
}

footer .footer.left p span {
  color: #30488F;
}

footer .footer.left p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .footer.right {
  width: 65%;
}

footer .footer.right .list-el {
  float: left;
  width: 20%;
}

footer .footer.right .list-el ul {
  list-style-type: none;
  line-height: 35px;
}

footer .footer.right .list-el ul li {
  font-size: 14px;
}

footer .footer.right .list-el ul li:first-child {
  font-size: 18px;
  font-weight: bold;
}

footer .footer.right .list-el ul li:not(:first-child):hover {
  color: #30488F;
  cursor: pointer;
}

